@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@700&display=swap');

.card-img-top {
  width: 100%;
  align-content: flex-start;
  height: 25vh;
  object-fit: scale-down;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.card-body {
  color: #000000;
}

.work {
  font-weight: bold;
  font-size: 15px;
}

.about {
  font-size: 13px;
}

.box {
  -webkit-box-shadow: 12px 12px 10px -10px rgba(217, 83, 97, 0.6);
  -moz-box-shadow: 12px 12px 10px -10px rgba(217, 83, 97, 0.6);
  box-shadow: 12px 12px 10px -10px rgba(217, 83, 97, 0.6);
}

.box:hover {
  -webkit-box-shadow: 12px 12px 10px -10px rgba(217, 83, 97, 1);
  -moz-box-shadow: 12px 12px 10px -10px rgba(217, 83, 97, 1);
  box-shadow: 12px 12px 10px -10px rgba(217, 83, 97, 1);
}

.col-md-3 {
  margin-top: 10px;
}

.cardContacts {
  text-align: right;
}

.cardContacts a {
  padding: 5px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content {
  height: 100%;
  margin: 0 auto 100px;
  padding-top: 100px;
  /* the bottom margin is the negative value of the footer's height */
}


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  z-index: -100;
}


.footer img {
  max-height: 50px;
  min-width: 100px;
}

.rounded-circle {
  object-fit: scale-down;
  aspect-ratio: 1;
}

.blob {
  position: absolute;
}

#footer-blob {
  bottom: 0;
  right: 0;
}

.card {
  border: none !important;
}

.team-card {
  color: #000000;
}

.rounded-circle {
  border-radius: 51% 49% 65% 35% / 39% 53% 47% 61% !important;
  transition: border-radius 500ms ease-in-out;
  background-color: #d9534f;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.rounded-circle:hover {
  border-radius: 67% 33% 39% 61% / 51% 62% 38% 49% !important;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1000;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 25s linear infinite;
    opacity: 10%;
    top: -150px;
    
}

.circles li:nth-child(1){
    left: 5%;
    width: 200px;
    animation-delay: 0s;
    animation-duration: 20s;
}

.circles li:nth-child(2){
  right: 10%;
  width: 100px;
  animation-delay: 10s;
  animation-duration: 20s;
}



@keyframes animate {

    0%{
        transform: translateY(150px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.nav-link:hover {
  text-decoration: underline !important;
  text-decoration-color: #d9534f !important;
}

select option:focus {
  background-color: #d9534f !important;
  color: black!important;
}

select option:hover {
  background-color: #d9534f !important;
  color: black!important;
}

select option:checked {
  background-color: #d9534f !important;
  color: white!important;
}

.infoTable {
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  border: none!important;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
}

.infoTable th, .infoTable td {
  border-top: none!important;
  border-bottom: none;
  border-bottom-width: 0px !important;
}

.infoTable th:nth-child(1) {
  background-color: #400101;
}

.infoTable td:nth-child(1) {
  background-color: #212121;
  color: #d5d5d5;
}

.table-header {
  background-color: #2d3847;
  color: #d5d5d5;
  font-size: 150%;
}

@media only screen and (max-width: 768px) {
  .table-header {
    background-color: #2d3847;
    color: #d5d5d5;
    font-size: 100%;
  }
}

.table-row-body {
  background-color: #d5d5d5;
  color: #2d3847;
}

.flex-week-row td{
  background-color: #212121 !important;
  color: #d5d5d5 !important;
}

.rounded-table {
  border-radius: 10px;
  overflow: hidden;
}